.prices__type {
  background-color: $ebony-clay;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.prices__plan {
  color: $white;
  font-weight: 700;
  font-size: 18px;
}

.prices__amount {
  color: $white;
  font-weight: 300;
  font-size: 18px;
}

.prices__name {
  color: $ebony-clay;
  font-size: 14px;
  font-weight: 400;
}
