.reviews {
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
}

.reviews__author-name {
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  color: $ebony-clay;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
