@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans.woff2") format("woff2"),
    url("fonts/OpenSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSansLight.woff2") format("woff2"),
    url("fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSansBold.woff2") format("woff2"),
    url("fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
